<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
       http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd">

    <aop:aspectj-autoproxy/>

    <!-- JDBC start-->
    <tx:annotation-driven/>
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <jdbc:embedded-database id="dataSource" type="H2">
        <jdbc:script location="classpath:db/create-db.sql"/>
    </jdbc:embedded-database>
    <!-- JDBC end-->

    <!--Properties Start-->
    <context:property-placeholder location="classpath:config.properties, classpath:db/table-names.properties"/>
    <!--Properties End-->

    <!--DAOs Start-->
    <bean id="baseJdbcDao" abstract="true" class="com.epam.trainings.spring.core.dm.dao.impl.spring.jdbc.BaseJdbcDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="userDao" class="com.epam.trainings.spring.core.dm.dao.impl.spring.jdbc.UserJdbcDao" parent="baseJdbcDao"/>
    <bean id="eventDao" class="com.epam.trainings.spring.core.dm.dao.impl.spring.jdbc.EventJdbcDao" parent="baseJdbcDao"/>
    <bean id="ticketsDao" class="com.epam.trainings.spring.core.dm.dao.impl.spring.jdbc.TicketsJdbcDao" parent="baseJdbcDao"/>
    <bean id="assignedEventsDao" class="com.epam.trainings.spring.core.dm.dao.impl.spring.jdbc.AssignedEventsJdbcDao" parent="baseJdbcDao"/>
    <bean id="eventByNameAccessionsCounterDao" class="com.epam.trainings.spring.core.dm.dao.impl.spring.jdbc.GeneralEventCounterJdbcDao" parent="baseJdbcDao">
        <property name="tableName" value="${statistic.events.by.name.table.name}"/>
    </bean>
    <bean id="eventPriceCalculationsCounterDao" class="com.epam.trainings.spring.core.dm.dao.impl.spring.jdbc.GeneralEventCounterJdbcDao" parent="baseJdbcDao">
        <property name="tableName" value="${statistic.events.price.table.name}"/>
    </bean>
    <bean id="eventTicketsBookingsCounterDao" class="com.epam.trainings.spring.core.dm.dao.impl.spring.jdbc.GeneralEventCounterJdbcDao" parent="baseJdbcDao">
        <property name="tableName" value="${statistic.events.tickets.table.name}"/>
    </bean>
    <bean id="discountCounterDao" class="com.epam.trainings.spring.core.dm.dao.impl.spring.jdbc.DiscountCounterJdbcDao" parent="baseJdbcDao"/>
    <bean id="luckyDao" class="com.epam.trainings.spring.core.dm.dao.impl.spring.jdbc.LuckyJdbcDao" parent="baseJdbcDao"/>

    <bean id="auditoriumDao" class="com.epam.trainings.spring.core.dm.dao.impl.inmemory.AuditoriumDaoInMemoryImpl">
        <constructor-arg value="${auditorium.properties.path}"/>
    </bean>
    <!--DAOs End-->

    <!--Services Start-->
    <bean id="auditoriumService" class="com.epam.trainings.spring.core.dm.service.impl.AuditoriumServiceImpl">
        <property name="auditoriumDao" ref="auditoriumDao"/>
    </bean>
    <bean id="discountService" class="com.epam.trainings.spring.core.dm.service.impl.DiscountServiceImpl">
        <property name="strategies">
            <list>
                <bean class="com.epam.trainings.spring.core.dm.service.impl.strategies.BirthdayDiscountStrategy">
                    <property name="discountPercentage" value="${discount.birthday.discountPercentage}"/>
                </bean>
                <bean class="com.epam.trainings.spring.core.dm.service.impl.strategies.NthMultipleTicketDiscountStrategy">
                    <property name="ticketsDao" ref="ticketsDao"/>
                    <property name="discountPercentage" value="${discount.nthTicket.discountPercentage}"/>
                    <property name="ticketsToDiscount" value="${discount.nthTicket.ticketsToDiscount}"/>
                </bean>
            </list>
        </property>
    </bean>
    <bean id="bookingService" class="com.epam.trainings.spring.core.dm.service.impl.BookingServiceImpl">
        <property name="ticketsDao" ref="ticketsDao"/>
        <property name="eventService" ref="eventService"/>
        <property name="auditoriumService" ref="auditoriumService"/>
        <property name="discountService" ref="discountService"/>
    </bean>
    <bean id="eventService" class="com.epam.trainings.spring.core.dm.service.impl.EventServiceImpl">
        <property name="eventDao" ref="eventDao"/>
        <property name="assignedEventsDao" ref="assignedEventsDao"/>
    </bean>
    <bean id="userService" class="com.epam.trainings.spring.core.dm.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="ticketsDao" ref="ticketsDao"/>
    </bean>
    <bean id="statisticService" class="com.epam.trainings.spring.core.dm.service.impl.StatisticServiceImpl">
        <property name="eventService" ref="eventService"/>
        <property name="eventByNameAccessionsCounterDao" ref="eventByNameAccessionsCounterDao"/>
        <property name="eventPriceCalculationsCounterDao" ref="eventPriceCalculationsCounterDao"/>
        <property name="eventTicketsBookingsCounterDao" ref="eventTicketsBookingsCounterDao"/>
        <property name="discountCounterDao" ref="discountCounterDao"/>
        <property name="luckyDao" ref="luckyDao"/>
        <property name="ticketsDao" ref="ticketsDao"/>
    </bean>
    <bean id="randomGenerator" class="com.epam.trainings.spring.core.dm.service.impl.RandomGeneratorServiceImpl"/>
    <!--Services End-->

    <!-- UI Start-->
    <bean id="consoleReader" class="com.epam.trainings.spring.core.dm.ui.ConsoleReader"/>
    <bean id="menu" class="com.epam.trainings.spring.core.dm.ui.menus.console.BaseMenu">
        <property name="adminMenu">
            <bean class="com.epam.trainings.spring.core.dm.ui.menus.console.AdminMenu">
                <property name="parent" ref="menu"/>
                <property name="consoleReader" ref="consoleReader"/>
                <property name="auditoriumService" ref="auditoriumService"/>
                <property name="bookingService" ref="bookingService"/>
                <property name="eventService" ref="eventService"/>
            </bean>
        </property>
        <property name="userMenu">
            <bean class="com.epam.trainings.spring.core.dm.ui.menus.console.UserMenu">
                <property name="parent" ref="menu"/>
                <property name="consoleReader" ref="consoleReader"/>
                <property name="userService" ref="userService"/>
                <property name="bookingService" ref="bookingService"/>
                <property name="auditoriumService" ref="auditoriumService"/>
                <property name="eventService" ref="eventService"/>
            </bean>
        </property>
        <property name="statisticsMenu">
            <bean class="com.epam.trainings.spring.core.dm.ui.menus.console.StatisticsMenu">
                <property name="parent" ref="menu"/>
                <property name="consoleReader" ref="consoleReader"/>
                <property name="statisticService" ref="statisticService"/>
            </bean>
        </property>
    </bean>
    <!-- UI End-->

    <!-- Aspects Start -->
    <bean class="com.epam.trainings.spring.core.dm.aspects.EventsStatisticAspect">
        <property name="statisticService" ref="statisticService"/>
    </bean>
    <bean class="com.epam.trainings.spring.core.dm.aspects.DiscountsStatisticAspect">
        <property name="statisticService" ref="statisticService"/>
    </bean>
    <bean class="com.epam.trainings.spring.core.dm.aspects.LuckyAspect">
        <lookup-method name="isLucky" bean="isLucky"/>
        <property name="statisticService" ref="statisticService"/>
    </bean>
    <!-- Aspects End -->

    <!-- Lucky config start -->
    <bean id="isLucky" factory-bean="randomGenerator" factory-method="getBoolean" scope="prototype"/>
    <!-- Lucky config end -->
</beans>